html{

}
body{
}
.wrapper {
    margin: 0 auto;
    width: 595px;
    height: 842px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 10px 15px 5px 0 grey;
}
.header {
    width: 595px;
height: 176px;
flex-shrink: 0;
}
.header__col1 {
}
.header__col2 {
}
.main {
}