html{

}
body{
}
.wrapper {
    margin: 0 auto;
    width: 595px;
    height: 842px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 10px 15px 5px 0 grey;
}
.header {
    width: 595px;
height: 176px;
flex-shrink: 0;
background: #F9F9F9;
display: grid;
}
.header__col1 {
    .col1__name {
    }
    .col1__proffession {
    }
    .col1__description {
    }
}
.header__col2 {
    .contact__block {
    }
    .contact__title {
    }
    .contact__content {
    }
}
.main {
}